<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Gestión de empleados</title>
</head>
<body>
<h1>Gestión de empleados</h1>

<!-- Formulario -->
<p>
<form method="post" th:object="${empleadoAMostrar}" action="/gestEmpleados">
	<table>
	<tr><td>Cif:</td><td><input type="text" name="cif" th:field="*{cif}"/></td></tr>
	<tr><td>Nombre:</td><td><input type="text" name="nombre" th:field="*{nombre}"/></td></tr>
	<tr><td>Apellidos:</td><td><input type="text" name="apellidos" th:field="*{apellidos}"/></td></tr>
	<tr><td>Edad:</td><td><input type="text" name="edad" th:field="*{edad}"/></td></tr>
	</table></br></br>
	
	<input type="submit" value="Listar" name="listar"/>
	<input type="submit" value="Mostrar Uno" name="getOne"/>
	<input type="submit" value="Insertar" name="insertar"/>
	<input type="submit" value="Modificar" name="modificar"/>
	<input type="submit" value="Eliminar" name="eliminar"/>
</form>
</p>

<p>
		<table>
			<tr><th>Cif</th><th>Nombre</th><th>Apellidos</th><th>Edad</th></tr>
			<tr th:each="empleado : ${listaEmpleados}">
				<td th:text="${empleado.cif}"></td>
				<td th:text="${empleado.nombre}"></td>
				<td th:text="${empleado.apellidos}"></td>
				<td th:text="${empleado.edad}"></td>
				</tr>
		</table>
</p>
<p th:text="${mensaje}">
</p></body>
</html>